.mycard{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,150,45,0.876715652081145) 100%);
}
/* .card img{
    width: 20% !important;
    height: 15rem !important;
} */
.card{
    -webkit-box-shadow:0px 0px 20px 10px rgb(252, 125, 180);
    -moz-box-shadow: 0px 0px 20px 10px rgba(252,125,180);
    box-shadow: 0px 0px 20px 10px  rgba(252,125,180);
}
.card-body{
    background: radial-gradient(circle, rgba(251,203,224,1) 0%, rgba(193,217,245,1) 100%);
}